@import "~highlight.js/styles/atom-one-dark.css";
@import "~@lgv/visualization-chart/src/example/style/index.css";

main > hgroup {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

main > hgroup h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-right: 1em;
}

main hgroup div {
    display: flex;
}

main button {
    border: 0.2em;
    border-style: solid;
    cursor: pointer;
    font-size: 0.75em;
    padding: 0.5em;
    text-transform: uppercase;
}

main hgroup div button {
    border: 0 none;
    background: #525252;
    border-radius: 1em;
    color: white;
    text-transform: none;
}

main hgroup div button:first-of-type {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

main hgroup div button:last-of-type {
    background: #292929;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

main button:hover {
    background: grey;
}

main figure {
    max-width: 100%;
}